<!-- Company details page -->

<h1><%= @company["name"] %></h1>

<h2><%= @company["city"]%>, <%= @company["state"]%></h2>

<h3>Contacts</h3>

<ul>
  <% for contact in @contacts %>
  <a href="/contacts/<%= contact["id"] %>">
  <li><%= contact["first_name"] %> <%= contact["last_name"] %></li>
  </a>
  <% end %>
</ul>

<!-- 
<p>
  <a href="companies/<% @company["id"] %>/edit">Edit Company Info</a>
</p>
-->

<p>
  <a href="/contacts/new">New Contact</a>
</p>

<p>
  <a href="/companies">Back to All Companies</a>
</p>

<p>
<%= button_to "Delete this company", @company, :method => "delete" %>
</p>